.element {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-element {
    color: #000;
    /* border-radius: 5px; */
}

.arrow-content {
    width: calc(100% - 4px);
    height: calc(100% - 2px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d2d0ce;
    border-radius: 10px;
}

.arrow-content:hover {
    background-color: #fff;
}
